.counter-section{
    .counter-bg{
        padding: 5% 0;
        /* background: url(../images/counter-bg.png); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;   
        position: relative;
        background-color: #0b59db;
        top: -65px;
        border-radius: 10px;
    }
   
   
    .single-counter-box {
        text-align: center;
        position: relative;
        margin-bottom: 25px;
        &::before{
            position: absolute;
            content: "";
            width: 1px;
            height: 100px;
            right: 0;
            top: 0;
            background-image: linear-gradient(0deg, #0b59db 0%, #0b59db 10%, #ffffff 50%, #0b59db 90%, #0b59db 100%);
        }
        .counter-content{
            h4 {
                font-size: 50px;
                color: #ffffff;
                font-weight: 700;
                margin: 0;
                display: inline-block;
            }
            span{
                font-size: 50px;
                color: #ffffff;
                font-weight: 700;
                margin: 0;
                display: inline-block;
            }
           p{
            opacity: 0.800;
            font-size: 16px;
            color: #ffffff;
            margin: 0 0 0;
           }
        }
    }
    
}

.counter-section-2{
    padding: 5% 0;
    .counter-items{
        margin-bottom: 30px;
        background: #E2E9FF;
        height: calc(100% - 30px);
        display: flex;
        align-items: center;
        border-radius: 5px;
       .counter-icon {
        font-size: 60px;
        min-height: 100%;
        line-height: 120px;
        background: rgba(64, 105, 255, 0.1);
        padding: 0 15px;
        }
        .counter-content{
            width: 100%;
            padding: 17px 0;
            text-align: center;
            color: $dark;
            .counter-number{
                font-size: 2rem;
                line-height: 42px;
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(64, 105, 255, 0.1);
                font-weight: 800
            }
            .counter-des{

            }
        }
    }
}