@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,600,500,700|Roboto:100,300,400,500,700&display=swap");


:root {
  --cta-background-color: #ffe01b;
  --cta-background-color-disabled: #dbd9d2;
  --cta-stroke-color: #241c15;
  --cta-stroke-width: calc(1* .0625rem);
  --cta-depth-color: #241c15;
  --cta-text-color: #241c15;
  --cta-text-size: var(--copy-info-size);
  --cta-line-height: 1.5;
  --cta-text-weight: 500;
  --cta-border-radius: 2em;
  --link-color: #241c15;
  --link-color-hovered: #241c15;
  --link-background-hovered: rgba(255, 224, 27, .65);
  --selection-background-color: rgba(255, 224, 27, .15);

}

img {
  max-width: 100%;
    height: auto;
}
.hero-banner-section {
	overflow: visible;
	background-image: url(../images/hero-banner/bn-bg.png); 
	position: relative;
  background: linear-gradient(45deg, #0160e7 0%, #04bdef 100%);
  padding-bottom: 50%;
   height: 100vh;
   &::before{
    position: absolute;
    content: "";
    top: -10%;
    left: -20%;
    height: 88%;
    width: 76%;
    border-radius: 100% / 7% 20% 163% 150%;
    background: linear-gradient(75deg, #0166e7 0%, #0396ec 100%);
    animation: floatY 3s ease-in-out infinite;
   }

  &::after{
    position: absolute;
    content: "";
    top: -20%;
    right: 20%;
    height: 80%;
    width: 66%;
    border-radius: 100% / 22% 20% 200% 200%;
    background: linear-gradient(217deg, #04b4ee 0%, #0276e9 100%);
    animation: floatX 10s ease-in-out infinite;
  }
  
   .aksosttech-banner-vector {
		right: 0;
		left: 120px;
		bottom: -180px;
		position: absolute;
		animation: man-updown 2s infinite alternate;
	}
	.banner-shape {
		top: 0;
		left: 0;
		position: absolute;
		&.shape1 {
			animation: floatY 3s ease-in-out infinite;
		}
		&.shape2 {
			left: 150px;
			animation: floatX 10s ease-in-out infinite;
		}
	}
  
  .banner-content {
    z-index: 1;
    margin: 0 auto;
    max-width: 85%;
    position: relative;
    padding: 150px 0% 10%;
    .banner-text {
      visibility: visible;
      animation-duration: 1000ms;
      animation-delay: 0ms;
      animation-name: fadeInUp;
      // span {
      //   color: #fff;			
      //   font-size: 18px;
      //   font-weight: 700;
      //   padding-bottom: 10px;
      //         display: flex;
      //         justify-content: center;
      // }
      h1 {
        color: #fff;      
        font-weight: 700;
        font-family: Poppins;
        padding-bottom: 30px;
        span.zero-cost{
          display: inline-block;
          font-size:5rem;              
          position: relative;
          &:after{
          position: absolute;
          content: "";
          background-image: url(../images/zerocost-border.png);
          width: 100%;
          height: auto;
          left: 0;
          bottom: -18px;
          min-height: 25px;
          background-size: cover;
          background-repeat: no-repeat;
        }
          // &::after{
          // 	position: absolute;
          // 	content: " ";
          // 	left: 0;
          // 	bottom: 0;
          // 	width: 100%;
          // 	height: 5px;
          // 	background-color: #000a2a;
          
          // }
        }
      }
      p {
        color: #fff;
        font-size: 1.5rem;
      }
    }
    .banner-buttons{
      .banner-input-field {
        margin-top: 25px;
        justify-content: center;
        .aksosttech-form-input {
          margin: 0px 8px;
          span {
            top: 23px;
            left: 35px;
            color: #fff;
            position: absolute;
          }
          input {
            border: none;
            height: 70px;
            width: 290px;
            color: #fff;
            padding-left: 65px;
            border-radius: 35px;
            background-color: #35a3ec;
            &::placeholder {
              color: #a3daff;
            }
          }
        }
        button {
          color: #fff;
          width: 200px;
          height: 70px;
          border: none;
          margin-left: 8px;
          font-weight: 700;
          border-radius: 5px;
          background-color: transparent;
          border: 2px solid #fff;
          transition: 0.3s all ease-in-out;
          &:hover {
            background-color:$info;
            border: 1px solid #003a6c;
          }
        }
      }
    }
   
  }
}


.home-page-banne {
  padding:6% 0;
  // background: url(../images/video-bg.jpg);
  // background-repeat: no-repeat;
  // background-size: cover; 
  background: rgb(137,223,255);
background: radial-gradient(circle, rgba(137,223,255,1) 38%, rgba(52,145,255,1) 100%);
  .title-section{
    align-items: center;
   h1, p {
    color: $secondary;
   }
   h1 {
    font-size: 3.5rem;
   }
  p {
      font-size: 1.5rem;
    }
  }
  .custome-button{
    background: $secondary;
  }
  .zerocost-button{   
    color: #fff;
    span{
      background: $secondary;
      padding: 5px 10px;
      border-radius: 50px;
    }
  }
}







.arrow-btn{
    z-index: 1;    
    padding-right: 2.5rem; 
    transform: translate(0);
    --shift-distance: calc(4* .0625rem);
    color:$secondary;
    font-weight: 600;
    &:before {
      content: "";
      z-index: -1;
      background-color:$secondary;
      background-image: url(../images/arrow.svg);
      background-position: calc(100% - .4375rem) calc(100% - .4375rem);
      background-repeat: no-repeat;
      background-size: 1.125rem;
      border-radius: 1rem;
      height: 2rem;
      transition: left .3s cubic-bezier(.34,1.2,.64,1), right .3s, background-position .3s;
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(100% - 2rem);
      right: 0;
    }

    &:hover{
      color: #fff;     
      transform: translateX(var(--shift-distance));
      &::before{
        // background-position-x: calc(100% -(var(--shift-distance)* 3.5));
        height: 100%;
        transition: right .3s, background-position .3s;
        animation: .3s ease-in-out fakebounce;
        left: -1rem;
      }
    }
  }



  @keyframes fakebounce{
    0% {
      left: calc(100% - 2rem);
    }
    50% {
      left: -1.5rem;
    }
    75% {
      left: -.5rem;
    }
    88% {
      left: -1.125rem;
    }
    100% {
      left: -1rem;
    }
  }

  /*---------------------------------------------------- */
/*responsive area*/
/*----------------------------------------------------*/

/* 
  @media screen and (max-width: 850px) {
    .banner-content .banner-text h1 {
      font-size: 60px;
    }
  
    .banner-content .banner-input-field {
      flex-wrap: wrap;
    }
  
    .banner-content .banner-input-field .aksosttech-form-input {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 767px) {  
    .banner-content {
      padding: 175px 0px 60px;
    }
  
    .hero-banner-section {
      margin-bottom: 0;
      .aksosttech-banner-vector {
        position: static;
      }
    }
  }
  @media screen and (max-width: 680px) {
    .banner-content .aksosttech-banner-text h1 {
      font-size: 50px;
    }
  
    .banner-content .banner-input-field .aksosttech-form-input input {
      height: 50px;
      line-height: 50px;
    }
  
    .banner-content .banner-input-field .aksosttech-form-input span {
      top: 13px;
    }
  
    .banner-content .banner-input-field button {
      width: 150px;
      height: 50px;
    }
  
    .aksosttech-cta-content .aksosttech-cta-btn {
      margin: 0 auto;
      position: static;
      margin-top: 10px;
    }
  
    .aksosttech-boost-form .aksosttech-boost-input input {
      height: 50px;
    }
  
    .aksosttech-boost-form .aksosttech-boost-input span {
      top: 13px;
    }
  
    .aksosttech-boost-form button {
      height: 50px;
    }
  
    .aksosttech-footer-copyright-text,
  .aksosttech-footer-copyright-menu {
      float: none !important;
    }
  }
  @media screen and (max-width: 480px) {
    .banner-content .aksosttech-banner-text h1 {
      font-size: 32px;
    }
  
    .aksosttech-service-section {
      padding: 60px 0px 20px;
    }
  
    .aksosttech-section-title h2 {
      font-size: 28px;
    }
  
    .aksosttech-about-text-wrap {
      padding-left: 0;
    }
  
    .aksosttech-about-list-text {
      overflow: hidden;
    }
  
    .aksosttech-about-section {
      padding: 25px 0px 50px;
    }
  
    .aksosttech-boost-form .aksosttech-boost-input {
      margin-right: 0;
    }
  
    .aksosttech-why-choose-counter .counter-boxed {
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }
  
    .aksosttech-why-choose-counter .counter-boxed .count-box {
      left: 0;
      right: 0;
    }
  
    .aksosttech-why-choose-section {
      padding: 50px 0px;
    }
  
    .aksosttech-blog-section {
      padding: 50px 0px;
    }
  
    .aksosttech-footer-copyright .aksosttech-footer-copyright-menu li {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 380px) {
    .banner-content .aksosttech-banner-text h1 {
      font-size: 30px;
    }
  
    .aksosttech-service-innerbox .aksosttech-service-text h3 {
      font-size: 20px;
    }
  
    .aksosttech-blog-img-text .aksosttech-blog-text {
      padding: 40px 20px;
    }
  
    .aksosttech-why-choose-text {
      padding-left: 0;
    }
  } */

  @media (max-width:768px){
    .hero-banner-section {
      padding-bottom: 10%;
      height: 100%;
      .banner-content{
        padding: 100px 0% 10%;
        max-width: 100%;
        .banner-text h1{
          font-size: 2em;
          .zero-cost{
            font-size: 70px;
            line-height: 70px;
            margin-top: 20px;
          }
        }
      }
    }
  }