@media (max-width:768px){
    .title-section {
        .float-text{
            font-size: 50px;
            margin: 0;
            text-align: left;
        }
        .sub-title{
            font-size: 20px;
            margin: 0;
            text-align: left;
        }
        h2 {
            font-size: 30px;
            margin: 0;
            text-align: left;
        }    
    }
    .ak-softtech.header-area{
        .navbar-brand.ak-softtech-logo {
            margin: initial;
        }
    }
}