.services-section{
    position: relative;
    padding: 6rem 0;
    /* z-index: 2;   */
    .title-section{
        text-align: center;
        margin-bottom: 50px;
        .sub-title{
            margin: auto;
            width: fit-content;
        }
    }
       
    .image-box{
        position: relative;
        margin-top: 50px;  
        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }
        
        .icon-image{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            
        }
    }    
    .contnet-box {           
        .service-block{
            position: relative;
            margin-bottom: 30px;
            z-index: 1; 
            
            .inner-box{
                position: relative;
                overflow: hidden;
                height: 100%;
                padding: 25px;
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, .1);
                box-shadow: 0 10px 60px rgba(0, 0, 0, .1);
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
                border-radius: 10px;                 
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(45deg, #0160e7 0%, #04bdef 100%);
                    width: 0;
                    content: "";
                    -webkit-transition: all 300ms ease;
                    transition: all 300ms ease;
                }
                &:hover{
                    -webkit-box-shadow: 0 10px 60px rgba(38, 96, 242, .31);
                    box-shadow: 0 10px 60px rgba(38, 96, 242, .31);
                    &::before{
                        width: 100%;
                        /* background: linear-gradient(45deg, #0160e7 0%, #04bdef 100%); */
                    }
                    .inner-content{
                        h5, p, .text, .title a {color: #fff;} 
                        }
                }
                .inner-content{
                    position: relative;
                    padding-left:75px;
                    /* padding-right: 70px; */
                    min-height: 70px;
                    .icon {
                        position: absolute;
                        left: 0;
                        top: 0;
                        -webkit-transition: all 200ms ease;
                        transition: all 200ms ease;
                        img{
                            display: inline-block;
                            max-width:60px;
                            width: 60px;
                            height: auto;
                        }
                    }
                    h5.title{
                        margin: 0;                         
                        
                    }

                    p.text {
                        position: relative;                          
                        color: $dark;
                        /* max-width: 300px; */
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;  
                        margin: 10px 0 0;  
                    }
                    .read-more {
                        position: absolute;
                        right: 0;
                        top: 15px;
                        height: 60px;
                        width: 60px;
                        background-color: #f4f5fa;
                        border-radius: 50%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        font-size: 16px;
                        color: var(--bg-theme-color2);
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease; 
                    }
                                    
                }
            }  
            
            /* &:nth-child(1){                  
                visibility: visible;
                animation-name: fadeInRight;
                margin-right: 100px
            }
            &:nth-child(2){
                margin-right: 50px;
                visibility: visible;
                animation-delay: 300ms;
                animation-name: fadeInRight;
            }
            &:nth-child(3){
                margin-right: 0;
                visibility: visible;
                animation-delay: 600ms;
                animation-name: fadeInRight;
            }
            &:nth-child(4){
                margin-right: 130px;
                visibility: visible;
                animation-delay: 900ms;
                animation-name: fadeInRight;  
            }
            &:nth-child(5){
                margin-right: 320px; 
                visibility: visible;
                animation-delay: 1200ms;
                animation-name: fadeInRight; 
            } */
        
        }
    } 
}


.financial-section, .business-section, .legal-section {   
    padding: 5% 0; 
    .tab-section{          
        .nav-tabs {
            display: flex;
                justify-content: space-between;
                /* justify-content: stretch; */
                width: 100%;
                flex-wrap: nowrap;
                border: 0;
            
            .nav-item{
                width: 100%;
                border:none;
                justify-content: center;
                margin: 5px;
                text-align: center;
                border-radius: 5px;
                

                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $secondary;
                    border-radius: 5px;
                    padding:1rem;
                    img, i {
                        width: 50px;
                        font-size: 3rem;
                        min-width: 50px;
                    }
                    
                    h5 {
                        margin: 0;
                        padding-left: 15px;
                        white-space: nowrap;
                    }
                    &.active {                     
                       box-shadow:0px 0px 1px 2px $secondary;                      
                    }
                    
                }
            }
        }
    }
}  

.request-call{
    padding: 5rem 0;      
    // background-image: url(/images/contact_bg.png);
    // background-position:bottom center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: fit-content;  

    /* .container{
        background: radial-gradient(circle, rgb(137, 223, 255) 38%, rgb(52, 145, 255) 100%);
    }    */
    // .title-section{
    //     .sub-title{
    //         color: #fff;
    //         &::before{
    //             filter: invert(1);
    //         }
    //     }
    //     p, h2{
    //         color: #fff;
    //     }        
    // }

    .need-help-section{
        background: rgb(242, 246, 253);
        padding: 30px 40px;
        border-radius: 10px;
        .row {
            gap:2em;
        }
        .contact-item {
            // margin-bottom: 1.5rem;           
        }
        .get-touch-img a {
            display: block;
            color: #0a53bf;
            font-size: 24px;
            line-height: 36px;
            font-weight: 600;
        }
    }

    ul.ul-list{
        li {
            color: inherit;
            font-size: 1.15rem;
            span{
                background-color: $secondary;
                i{
                    color: white;
                }
            }
        }
    }

    .contact-info-box{
        background: #fff;
        padding:15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        border: 1px solid #0B59D7;
        transition: 0.5s;
        position: relative;
        z-index: 1;
        overflow: hidden;
        gap: 14px;
        &::before{
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            left: 0;
            top: 0;
            background: #0B59D7;
            border-radius: 5px;
            transition: 0.5s;
            z-index: -1;
        }
        &:hover &::before{
            width: 100%;
        }
        .contact-info-icon{
            i{
                display: inline-block;
                color: $secondary;
                border: 1px solid $secondary;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                line-height: 40px;
                font-size: 20px;
                transition: 0.5s;
            }
        }
        .contact-info-content{
            h5 {margin: 0;}
           
            p{           
                color:$secondary;
                 margin: 0;
                padding: 0;
                transition: 0.5s;
                font-weight: 600;
            }
            
        }
    }

}

// .bug-free-code{
//     .box-area{
//         position: relative;
//         padding-right: 50%;
//         min-height: fit-content;
//         .images-area{
//             position: absolute;
//             left: 50%;
//             top:0;            
//         }

//         .service-block{
//             position: relative;
//             margin-bottom: 30px;
//             z-index: 1; 
            
//             .inner-box{
//                 position: relative;
//                 overflow: hidden;
//                 height: 100%;
//                 padding: 25px;
//                 background-color: #fff;
//                 background-repeat: no-repeat;
//                 background-position: center;
//                 background-size: cover;
//                 -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, .1);
//                 box-shadow: 0 10px 60px rgba(0, 0, 0, .1);
//                 -webkit-transition: all 300ms ease;
//                 transition: all 300ms ease;
//                 border-radius: 10px;                 
//                 &::before{
//                     position: absolute;
//                     left: 0;
//                     top: 0;
//                     height: 100%;
//                     width: 100%;
//                     background: linear-gradient(45deg, #0160e7 0%, #04bdef 100%);
//                     width: 0;
//                     content: "";
//                     -webkit-transition: all 300ms ease;
//                     transition: all 300ms ease;
//                 }
//                 &:hover{
//                     -webkit-box-shadow: 0 10px 60px rgba(38, 96, 242, .31);
//                     box-shadow: 0 10px 60px rgba(38, 96, 242, .31);
//                     &::before{
//                         width: 100%;
//                         /* background: linear-gradient(45deg, #0160e7 0%, #04bdef 100%); */
//                     }
//                     .inner-content{
//                         h5, p, .text, .title a {color: #fff;} 
//                         }
//                 }
//                 .inner-content{
//                     position: relative;
//                     padding-left:75px;
//                     /* padding-right: 70px; */
//                     min-height: 70px;
//                     .icon {
//                         position: absolute;
//                         left: 0;
//                         top: 0;
//                         -webkit-transition: all 200ms ease;
//                         transition: all 200ms ease;
//                         img{
//                             display: inline-block;
//                             max-width:60px;
//                             height: auto;
//                         }
//                     }
//                     h5.title{
//                         margin: 0;                         
                        
//                     }

//                     p.text {
//                         position: relative;                          
//                         color: $dark;
//                         /* max-width: 300px; */
//                         -webkit-transition: all 300ms ease;
//                         transition: all 300ms ease;  
//                         margin: 10px 0 0;  
//                     }
//                     .read-more {
//                         position: absolute;
//                         right: 0;
//                         top: 15px;
//                         height: 60px;
//                         width: 60px;
//                         background-color: #f4f5fa;
//                         border-radius: 50%;
//                         display: -webkit-box;
//                         display: -ms-flexbox;
//                         display: flex;
//                         -webkit-box-align: center;
//                         -ms-flex-align: center;
//                         align-items: center;
//                         -webkit-box-pack: center;
//                         -ms-flex-pack: center;
//                         justify-content: center;
//                         font-size: 16px;
//                         color: var(--bg-theme-color2);
//                         -webkit-transition: all 300ms ease;
//                         transition: all 300ms ease; 
//                     }
                                    
//                 }
//             }  
            
//             /* &:nth-child(1){                  
//                 visibility: visible;
//                 animation-name: fadeInRight;
//                 margin-right: 100px
//             }
//             &:nth-child(2){
//                 margin-right: 50px;
//                 visibility: visible;
//                 animation-delay: 300ms;
//                 animation-name: fadeInRight;
//             }
//             &:nth-child(3){
//                 margin-right: 0;
//                 visibility: visible;
//                 animation-delay: 600ms;
//                 animation-name: fadeInRight;
//             }
//             &:nth-child(4){
//                 margin-right: 130px;
//                 visibility: visible;
//                 animation-delay: 900ms;
//                 animation-name: fadeInRight;  
//             }
//             &:nth-child(5){
//                 margin-right: 320px; 
//                 visibility: visible;
//                 animation-delay: 1200ms;
//                 animation-name: fadeInRight; 
//             } */
        
//         }   
//     }
// }


.features-section.bug-free-code{
    background: #f2f6fd;
  .images-box::before {
    right: 0;
    left: inherit;
  }
}

.it-consulting-page{
    .features-section{
        .contnet-box{
            .float-text{
                display: none;
            }
        }
    }
}
.business-section.section-2 {
    background: #f2f6fd;
}