.why-choose-section {
    padding:10% 0;   
    background: #f2f6fd;
    .choose-us-thumb img {
        position: relative; 
        max-width: 430px;      
      }

    .contnet-area{
        position: relative;
        .icon-box{
            display: flex;
            align-items: center;
            gap: 22px;
            margin-bottom: 29px;
            .icon {
                line-height: 60px;
                text-align: center;
                width: 70px;
                min-width: 70px;
                height: 60px;
                border-radius: 6px;
                transition: 0.5s;
                // filter: drop-shadow(0px 10px 10px rgba(207, 218, 235, 0.2));
                // background-color: rgb(12 89 219 / 7%);
                box-shadow: 0px 1px 3px 0px #6c757d;
                img {
                    max-width: 50px;
                }
                &:hover{
                    box-shadow: 0px 1px 3px 1px #6c757d;
                }
            }
            .content{
                h5{
                    margin: 0;
                }
            }
        }
        .shape-two{
            bottom: 20px;
            left: 70px;
        }
    }
     

   
  }

  