

/* Start elements.scss */
@import "_common-style.scss";
/* Emd elements.scss */

/* Start Key-frame.scss */
@import "_key-frame.scss";
/* Emd Key-frame.scss */

/* Start Header Section */
@import "_header.scss";
/* End Header Section */

/* Start Key-frame.scss */
@import "_video-banner.scss";
/* Emd Key-frame.scss */


/* Start Footer Section */
@import "_footer.scss";
/* End Footer Section */

/* Start Video Banner Section */
@import "_breadcumb-section";
/* End  Video Banner Section */

.about-us-section{
padding-top:5%;
    .about-check{
        button{
            margin: 5px;
            padding: 10px;
            border: 2px solid $info;
            color: $info;
            .inner{
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                font-weight: 700;
                i {
                    font-size: 20px;
                    color: $secondary;
                    margin-right: 5px;
                }
            }
            &:hover{
                background-color: $info;
                color: white;
                i {
                   
                    color: white;
                    
                }
            }
        }
    }
}

.vision-mission{
   
    .build-website-section{
        padding-top: 10%;
    }
    ul.custome-list{
        padding-top: 5%;
        li{
            p{
                display: flex;
                align-items: center;
                margin-bottom: 30px;
            }
           
            i {
                font-size: 12px;
                color: #fff;
                margin-right: 15px;
                background: red;
                background: #0a53bf;
                padding: 10px;
                border-radius: 50%;
            }
        }
    }
}
