

/* Start elements.scss */

@import "_common-style.scss";

/* Emd elements.scss */

/* Start Key-frame.scss */

@import "_key-frame.scss";

/* Emd Key-frame.scss */

/* Start Header Section */

@import "_header.scss";

/* End Header Section */

/* Start Footer Section */

@import "_footer.scss";

/* End Footer Section */

/* Start Hero-banner Section */

@import "_hero-banner.scss";

/* End Hero-banner Section */


/* Start Video Banner Section */

@import "_video-banner.scss";

/* End  Video Banner Section */




/* Start Counter Section */
@import "_responsive.scss";
/* End Counter Section */

.intership-section{
    padding: 5% 0;
    
   
    .add-border {
        border-top: 2px solid #E7E7E7;
        padding: 5% 0 4%;      
    }
    .job-item{
        .job-item-content {
            span:first-child{
                border-radius: 6px;
                background-color:$secondary;
                display: inline-block;
                color: #fff;
                padding: 2px 15px;
            }
            .location{              
                margin-left:1rem;
            }         
           
        }
    }
    // .job-desc{     
    //     line-height: 26px;
    //     color:$dark;
    //     font-weight: 400;
    //     transition: 0.5s;
    //     margin: 0;
    //     width: 100%;
    // }
    .job-apply-button{
        text-align: right;
        button {
            border: none;
            background-color: #00305c;
            padding: 0.5rem;
            font-weight: 600;
            &:hover{              
                background:  $secondary;
                color: #fff;
            }
        }
    }
}
.tab-section{  
    .nav-tabs-vertical{ 
        display: inherit;
        border: none;
        a.nav-link{
            display: flex;
            align-items: center;
            gap: 22px;
            margin-bottom: 30px;
            border: none;

        }
     }   
}


/*form section */

