

/* Start elements.scss */
@import "_common-style.scss";
/* Emd elements.scss */

/* Start Key-frame.scss */
@import "_key-frame.scss";
/* Emd Key-frame.scss */

/* Start Header Section */
@import "_header.scss";
/* End Header Section */

/* Start Footer Section */
@import "_footer.scss";
/* End Footer Section */


@keyframes movebounce{
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}



.contact-section{
    padding: 5% 0 0;
    h4.sub-head {
        margin-bottom:40px;
    }
  .contnet-details{
    padding-right: 50px;
  }
  .contnet-form-area{
    padding-left: 50px;
  }
    .contact-info-box{       
        display: flex;
        align-items: center;
        transition: 0.5s;
        position: relative;
        z-index: 1;
        overflow: hidden;
        gap: 14px;
        margin-bottom: 50px;
        .contact-info-icon{
            i{
                display: inline-block;
                background-color: $secondary;
                color: #fff;
                border: 1px solid $primary;
                width: 70px;
                height: 70px;
                border-radius: 5px;
                text-align: center;
                line-height: 70px;
                font-size:30px;
                transition: 0.5s;
            }
        }
        .contact-info-content{           
            h5, p {
            margin: 0;
            }           
            
        }
    }

    .contact-inner-box{        
        .sub-title{margin-bottom: 5px;}       
    }

    .get-touch-img{
        margin-bottom: 40px;
        a{
            display: block;
            color: #4069FF;
            font-size: 24px;
            line-height: 36px;
            font-weight: 600;
            span{
                font-weight: 400;
            }
            &:hover{
                color: #4991e2;
            }
        }
    }
   
}

.google-map {
    padding:5% 0 0;
    position: relative;   
}


/* Start Counter Section */
@import "_responsive.scss";
/* End Counter Section */