

/* Start elements.scss */
@import "_common-style.scss";
/* Emd elements.scss */

/* Start Key-frame.scss */
@import "_key-frame.scss";
/* Emd Key-frame.scss */

/* Start Header Section */
@import "_header.scss";
/* End Header Section */

/* Start Footer Section */
@import "_footer.scss";
/* End Footer Section */

/* Start Hero-banner Section */
@import "_hero-banner.scss";
/* End Hero-banner Section */


/* Start Video Banner Section */

@import "_video-banner.scss";

/* End  Video Banner Section */

/* Start Services-Section Section */

@import "_services-section.scss";

/* End Services-Section Section */


/* Start Features Section */
@import "_features.scss";
/* End Features Section */

/* Start Counter Section */
@import "_responsive.scss";
/* End Counter Section */

.services-section{   
    &.services-page{
        padding: 10% 0 0;
        .contnet-box{
            margin: 0;
            display: block;
            flex-direction: initial;
            .service-block{
                width: 49%;
                float: left;
                margin: 0;
                .inner-box {
                    max-width: 100%;
                    margin: 15px;
                }
               
            }
        }
    }
    &.why-choose-sectio{  
        background-color: blue; 
        .contnet-box{
            margin: 0;
            display: block;
            flex-direction: initial;
            .service-block{
                width: 49%;
                float: left;
                margin: 0;
                .inner-box {
                    max-width: 100%;
                    margin: 15px;
                }
               
            }
        }
    }
}