

/* Start elements.scss */
@import "_common-style.scss";
/* Emd elements.scss */

/* Start Key-frame.scss */
@import "_key-frame.scss";
/* Emd Key-frame.scss */

/* Start Header Section */
@import "_header.scss";
/* End Header Section */

/* Start Footer Section */
@import "_footer.scss";
/* End Footer Section */

/* Start Hero-banner Section */
@import "_hero-banner.scss";
/* End Hero-banner Section */

/* Start Video Banner Section */

@import "_video-banner.scss";

/* End  Video Banner Section */

/* Start Services-Section Section */
@import "_services-section.scss";
/* End Services-Section Section */

/* Start Features Section */
@import "_features.scss";
/* End Features Section */

/* Start Counter Section */
@import "_responsive.scss";
/* End Counter Section */

.services-section{   
    &.our-services{
        padding: 10% 0 0;
        .contnet-box{
            margin: 0;
            display: block;
            flex-direction: initial;
            .service-block{
                width: 49%;
                float: left;
                margin: 0;
                .inner-box {
                    max-width: 100%;
                    margin: 15px;
                }
               
            }
        }
    }    
}

section {
    padding: 5% 0 ; 
    &.banking-section{   
        .tab-section{
          
            .nav-tabs {
                display: flex;
                    justify-content: space-between;
                    /* justify-content: stretch; */
                    width: 100%;
                    flex-wrap: nowrap;
                    border: 0;
              
                .nav-item{
                    width: 100%;
                    border:none;
                    justify-content: center;
                    margin: 5px;
                    text-align: center;
                    border-radius: 5px;
                   

                    .nav-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $secondary;
                        border-radius: 5px;
                        padding:1rem;
                        img, i {
                            width: 50px;
                            font-size: 3rem;
                        }
                        
                        h5 {
                            margin: 0;
                            padding-left: 15px;
                        }
                        &.active {
                            background-color: $secondary;    
                            color: #fff;                       
                            h5 {
                                color: #fff;
                            }
                        }
                        
                    }
                }
            }
        }
    }  
    &.request-call{
      
        background-image: url(/images/contact_bg.png);
        background-position:bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;     
        .title-section{

            .sub-title{
                color: #fff;
                &::before{
                    filter: invert(1);
                }
            }
            p, h2{
                color: #fff;
            }
           
        }
        .bankcall{  
            color: #fff;  
            display: flex;
            align-items: center;
            justify-content: end;        
            h4, h5 { color: #fff;}   
            .call-details{
                background: rgba(0, 48, 92, 0.48);
                padding: 20px;
                float: right;
                h5{
                    margin: 0; 
                    
                }
            }        
        }
    }
}

.tab-section{  
    .nav-tabs-vertical{ 
        display: inherit;
        border: none;
        a.nav-link{
            display: flex;
            align-items: center;
            gap: 22px;
            margin-bottom: 30px;
            border: none;

        }
     }   
}
