

/* Start elements.scss */

@import "_common-style.scss";

/* Emd elements.scss */

/* Start Key-frame.scss */

@import "_key-frame.scss";

/* Emd Key-frame.scss */

/* Start Header Section */

@import "_header.scss";

/* End Header Section */

/* Start Footer Section */

@import "_footer.scss";

/* End Footer Section */

/* Start Hero-banner Section */

@import "_hero-banner.scss";

/* End Hero-banner Section */

/* Start We Have Section */

@import "_we-have.scss";

/* End  We Have Section Section */


/* Start About-us-section Section */

@import "_about-us.scss";

/* End  About-us-section Section */


/* Start Why-chose-us Section */

@import "_why-choose-us.scss";

/* End Why-Chose-Us Section */


/* Start Features Section */

@import "_features.scss";

/* End Features Section */

/* Start Working-process Section */

@import "_working-proces.scss";

/* End Working-process Section */

/* Start work-process Section */

@import "_work-process.scss";

/* End work-process Section */


/* Start Services-Section Section */

@import "_services-section.scss";

/* End Services-Section Section */

/* Start Video Banner Section */

@import "_video-banner.scss";

/* End  Video Banner Section */


/* Start Consultations Section */

@import "_consultation.scss";

/* End Consultation Section */

/* Start Counter Section */
@import "_counter.scss";
/* End Counter Section */

/* Start Counter Section */
@import "_faqs.scss";
/* End Counter Section */

/* Start Counter Section */
@import "_responsive.scss";
/* End Counter Section */
/* 
.ak-softtech.header-area{
    background: linear-gradient(45deg, #0160e7 0%, #04bdef 100%);
} */
 .video-setion.video-bnner{
    &.zero-cost-banner{      
    .left-text{
        text-align: left;
        h1 {
            text-align: left;
            font-size: 4.2rem;
        
        }
        p {color: #fff;     font-size: 1.3rem;}
    }     
    }

 }

.build-website-section{
    padding: 10% 0 0;
    &.section-4{
      padding-bottom: 10%;  
    }
}
.fa-square-check{
    font-size: 26px;
    color: #0160e7;
    margin-right: 15px;
}
.expand-service-list{
    li{
        display: flex;
    align-items: center;
    margin-bottom: 10px;
    }
}

@media (max-width:768px){
   .build-website-section{
    &.section-1  {
        padding-top: 100px;
        .image-area{
            padding-top:20px ;
        }
        .upper-box{display: none;}
        > row {
            order: 2;
            
        }   
    }
    &.section-2 {
      .image-area{
        order: 2;
      } 
    }
    &.section-4 {
        .image-area{
          order: 2;
        } 
      }

   }
   .video-setion {
    p {
        color: #fff;
        text-align: left;

    }
   }
   .faqs-section{
    .faq-area {
        order: 2;
    }
   }
}