

/* Start elements.scss */
@import "_common-style.scss";
/* Emd elements.scss */

/* Start Key-frame.scss */
@import "_key-frame.scss";
/* Emd Key-frame.scss */

/* Start Header Section */
@import "_header.scss";
/* End Header Section */

/* Start Footer Section */
@import "_footer.scss";
/* End Footer Section */

/* Start Hero-banner Section */
@import "_hero-banner.scss";
/* End Hero-banner Section */


/* Start work-process Section */
@import "_work-process.scss";
/* End work-process Section */

/* Start Services-Section Section */
@import "_services-section.scss";
/* End Services-Section Section */

/* Start Video Banner Section */
@import "_video-banner.scss";
/* End  Video Banner Section */

/* Start Consultations Section */
@import "_consultation.scss";

/* End Consultation Section */

/* Start Counter Section */
@import "_counter.scss";
/* End Counter Section */ 

/* Start Counter Section */
@import "_faqs.scss";
/* End Counter Section */



.build-website-section{
    padding: 6rem 0;
    &.section-5{
      padding-bottom: 10%;  
    }
    .content-box {
        p.dark-para{
            background: $secondary;
            padding: 15px;
            border-radius: 10px;
            color: #fff;
        }
    }    
    &.section-2, &.section-4 {
        background: #f2f6fd;
    }
}
.zerocost-video-sec{
    p{color:#fff;}    
}

.fa-square-check{
    font-size: 26px;
    color: #0160e7;
    margin-right: 15px;
}

.services-section {
    .contnet-box {
        margin-left: inherit;
        .service-block {
            visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;
            .inner-box {
                padding: 15px;
                .inner-content{                   
                    padding-right: 0;
                    display: flex;
                    align-items: center;
                    .title{
                        white-space: nowrap;
                    }
                }
            }
            /* &:nth-child(1){margin-right: 55%;}
            &:nth-child(2){margin-right: 32%;}
            &:nth-child(3){margin-right: 26%;}
            &:nth-child(4){margin-right: 23%;}
            &:nth-child(5){margin-right: 17%;}
            &:nth-child(6){margin-right: 20%;}
            &:nth-child(7){margin-right: 29%;}
            &:nth-child(8){margin-right: 43%;} */
        }
    }
}

@media (min-width: 768px) and (max-width:1024px) { 
    .hero-banner-section{
        height: 100%;  
        padding-bottom: 0;
    }
    .build-website-section {
        padding: 2rem 0;
        .image-area{
            margin-bottom: 20px; 
        }
        
        &.section-2 .image-area, 
        &.section-4 .image-area, 
        &.section-5 .image-area, 
        &.section-6 .image-area, 
        .faqs-section .image-area {
            order: inherit;
        }
        &.expand {
            .image-area{
                display: none;
            }
            .contnet-area{
                width: 100%;
                .content-box{
                    .title-section{
                      > p:first-of-type{
                          padding-right: 50%;
                          position: relative;
                          &::after{
                            content: "";
                            background: url(../images/zero-cost/expand-audience.png);
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-size: 100%;
                            max-width: 35%;
                            background-repeat: no-repeat;
                          }
                        }
                    }
                }
            }
        }
    }
    .faqs-section {
        text-align: left !important;
        .image-area {
            order: -1;
            display: none;
        } 
    }
    .consultation-section{       
       .contnet-area > .row {
        gap: inherit;
       }
       .get-touch-img{
        margin-bottom: 5px;
       } 
    }
   

    .footer-area-section {
        .small-business{
            left: 47%;
        }
        .about-footer{
            display: none;
        }
        .footer-content{
            .footer-contact-info-box{
                background: transparent !important;
             margin-top: 15px !important; 
                width: 50% !important;
                float: left;
                 .contact-info-icon{
                     border: none;
                 }
            } 
            .footer-botton-social-icon{
                margin-top: 15px;
            }
         }
    }
  
    
}


@media (max-width:768px) {
    .hero-banner-section{
        &.zero-cost-banner{
            padding-bottom: 0%;
            .banner-content {
             padding: 2rem 0;   
            }
        }
    }
    .build-website-section {
        padding: 2rem 0;
        .image-area{
            margin-bottom: 20px; 
        }
        
        &.section-2 .image-area, 
        &.section-4 .image-area, 
        &.section-5 .image-area, 
        &.section-6 .image-area, 
        .faqs-section .image-area {
            order: -1;
        }
    }
    .faqs-section .image-area {
        order: -1;
    }
}
/* Start Counter Section */
@import "_responsive.scss";
/* End Counter Section */
